1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [150]:
lista_1 = ['Berlin', 'Paris','Madrid','Barcelona','Amsterdam','Londres','Oporto']
print(lista_1)

['Berlin', 'Paris', 'Madrid', 'Barcelona', 'Amsterdam', 'Londres', 'Oporto']

2) Imprimir por pantalla el segundo elemento de la lista

In [151]:
## elemento de la lista: es 1, 2, 3
### el indice arranca en     0, 1, 2..y lo que pones
##  entre parentesis es el indice,,es decir 1 del elemto 2
print(lista_1[1])

Paris

3) Imprimir por pantalla del segundo al cuarto elemento

In [152]:
print(lista_1[1:4])

['Paris', 'Madrid', 'Barcelona']

4) Visualizar el tipo de dato de la lista

In [153]:
type(lista_1)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [154]:
#lista_1 = ['Berlin', 'Paris','Madrid','Barcelona','Amsterdam','Londres','Oporto']
#print(lista_1.remove('Madrid'))
#???????
lista_1[2:]

['Madrid', 'Barcelona', 'Amsterdam', 'Londres', 'Oporto']

In [155]:
print(lista_1[2:])

['Madrid', 'Barcelona', 'Amsterdam', 'Londres', 'Oporto']

6) Visualizar los primeros 4 elementos de la lista

In [156]:
print(lista_1[:4])

['Berlin', 'Paris', 'Madrid', 'Barcelona']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [157]:
lista_1.append("Buenos Aires")

In [158]:
lista_1.append("Paris")

In [159]:
print(lista_1)

['Berlin', 'Paris', 'Madrid', 'Barcelona', 'Amsterdam', 'Londres', 'Oporto', 'Buenos Aires', 'Paris']

8) Agregar otra ciudad, pero en la cuarta posición

In [160]:
lista_1.insert(4,'Praga')
print(lista_1)

['Berlin', 'Paris', 'Madrid', 'Barcelona', 'Praga', 'Amsterdam', 'Londres', 'Oporto', 'Buenos Aires', 'Paris']

9) Concatenar otra lista a la ya creada

In [161]:
lista_1.extend(['Canada','Honduras'])
print(lista_1)

['Berlin', 'Paris', 'Madrid', 'Barcelona', 'Praga', 'Amsterdam', 'Londres', 'Oporto', 'Buenos Aires', 'Paris', 'Canada', 'Honduras']

DUDA:::: porque si agrego numeros aparece la lista pero 3 veces como si se multiplicara....si pongo variable numerica int...en vez de palabra str

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [162]:
lista_1.index('Paris') #me dice la ubicacion de la primera

1

11) ¿Qué pasa si se busca un elemento que no existe?

In [163]:
lista_1.index('China')

ValueError: 'China' is not in list

In [ ]:
'China' in lista_1

False

12) Eliminar un elemento de la lista

In [ ]:
lista_1.remove('Madrid')

In [ ]:
print(lista_1)

['Berlin', 'Paris', 'Barcelona', 'Praga', 'Amsterdam', 'Londres', 'Oporto', 'Buenos Aires', 'Paris', 'Canada', 'Honduras']

PARA ORDENAR LA LISTA

In [165]:
lista_1.sort()
print(lista_1)
##ordena alfabeticamente

['Amsterdam', 'Barcelona', 'Berlin', 'Buenos Aires', 'Canada', 'Honduras', 'Londres', 'Madrid', 'Oporto', 'Paris', 'Paris', 'Praga']

In [166]:
lista_1.sort(reverse=True)
print(lista_1)
##### lo da vuelta

['Praga', 'Paris', 'Paris', 'Oporto', 'Madrid', 'Londres', 'Honduras', 'Canada', 'Buenos Aires', 'Berlin', 'Barcelona', 'Amsterdam']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [ ]:
lista_1.remove('China')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [ ]:
ultimo= lista_1.pop()
print(ultimo)
## pop te lo devuelte...remove lo saca

Honduras

15) Mostrar la lista multiplicada por 4

In [ ]:
lista_1*4

['Berlin',
 'Paris',
 'Barcelona',
 'Praga',
 'Amsterdam',
 'Londres',
 'Oporto',
 'Buenos Aires',
 'Paris',
 'Canada',
 'Berlin',
 'Paris',
 'Barcelona',
 'Praga',
 'Amsterdam',
 'Londres',
 'Oporto',
 'Buenos Aires',
 'Paris',
 'Canada',
 'Berlin',
 'Paris',
 'Barcelona',
 'Praga',
 'Amsterdam',
 'Londres',
 'Oporto',
 'Buenos Aires',
 'Paris',
 'Canada',
 'Berlin',
 'Paris',
 'Barcelona',
 'Praga',
 'Amsterdam',
 'Londres',
 'Oporto',
 'Buenos Aires',
 'Paris',
 'Canada']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [171]:
tupla_1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(tupla_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [168]:
tupla_2 = tuple(range(1,21))
print(tupla_2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [172]:
print(tupla_1[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [ ]:
20 in tupla_1

True

In [ ]:
30 in tupla_1

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [ ]:
tuple(lista_1)
'Paris' in lista_1

True

In [ ]:
### esta es la respuesta q dan en clase, y lo agrega
### porque no lo tenia, yo ya lo tenia
elemento = 'Paris'
if (not(elemento in lista_1)):
    lista_1.append(elemento)
    print('Se insertó el elemento', elemento)
else:
    print('El elemento', elemento, 'ya existía')

El elemento Paris ya existía

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [ ]:
print(tupla_1.count(4))

1

In [ ]:
print(lista_1.count('Paris'))

2

21) Convertir la tupla en una lista

In [ ]:
#ya lo hice

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [ ]:
tupla_1= '1','2','3'
var1,var2,var3= tupla_1
print(var1,var2,var3)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [ ]:
diccionario_1= {'Ciudades':[lista_1],
                'Pais':['Francia','España','Reino unido'],
                'Continente':['Europa','America']}

24) Imprimir las claves del diccionario

In [ ]:
print(diccionario_1.keys())

dict_keys(['Ciudades', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [ ]:
print(diccionario_1['Ciudades'])

[['Berlin', 'Paris', 'Madrid', 'Barcelona', 'Praga', 'Amsterdam', 'Londres', 'Oporto', 'Buenos Aires', 'Paris', 'Canada', 'Honduras', 'París']]

In [ ]:
print(diccionario_1.values())

dict_values([[['Berlin', 'Paris', 'Madrid', 'Barcelona', 'Praga', 'Amsterdam', 'Londres', 'Oporto', 'Buenos Aires', 'Paris', 'Canada', 'Honduras', 'París']], ['Francia', 'España', 'Reino unido'], ['Europa', 'America']])